<!-- This page present all the Ip Sla's configured on teh device if any -->
<!-- Inheritance of main.html -->
{% extends "main.html" %}

{% block content %}
    <!-- Check if there are IP Sla's configured on the device -->
    {% if indexes|length == 0 %}
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-3">No IP Sla's configured in host {{ snmp_data.hostname }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-primary" href="{{ url_for('search') }}" role="button">Return to Search</a>
            </div>
        </div>
    {% else %}
        <!-- If there are Ip Sla's configured on the device present them in a table to add to the DB -->
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-3">IP Sla's configured in host {{ snmp_data.hostname }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Form and table with the IP Sla's found in the device -->
                <form action="" method="post" role="form">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" scope="col"></th>
                                <th class="text-center" scope="col">Id</th>
                                <th class="text-center" scope="col">Type</th>
                                <th class="text-center" scope="col">Tag</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(0, indexes|length) %}
                                <tr>
                                    <td class="text-center"><input type="checkbox" class="form-check-input ml-auto" name="selection" id="id_{{ indexes[i] }}" value="{{ indexes[i] }}"></td>
                                    <th class="text-center" scope="row">{{ indexes[i] }}</th>
                                    <th class="text-center" scope="row">{{ types_names[i] }}</th>
                                    <th class="text-center" scope="row">{{ tags[i] }}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Submit button to add ip sla's selected to the DB -->
                    <button type="submit" class="btn btn-success">Add Selected Ip Sla's</button>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}